<div class="scotia-card">
  <!--even-->
  <div *ngIf="index % 2 == 0" class="row row-restaurant">
    <div class="col-8">
      <h2>{{data.cardSubtitle}}</h2>
      <h4 *ngIf="data.cardContentHeading">{{data.cardContentHeading}}</h4>
      <p>{{data.cardContent}}</p>
      <p><a href="#">More &raquo;</a></p>
    </div>
    <div class="col-2 title-container">
      <h3 class="title">{{data.title}}</h3>
    </div>
  </div>
  <!-- odd -->
  <div *ngIf="index % 2 !== 0" class="row row-restaurant">
    <div class="col title-container">
      <h3 class="title">{{data.title}}</h3>
    </div>

    <div class="col-8">
      <h2>{{data.cardSubtitle}}</h2>
      <h4 *ngIf="data.cardContentHeading">{{data.cardContentHeading}}</h4>
      <p>{{data.cardContent}}</p>
      <p><a href="#">More &raquo;</a></p>
    </div>
  </div>
</div>
