<div class="scotia-card">
  <!-- Generally code duplication should be avoided. However, I did it in this case
  because there is a structural html change in order (before and after) that is a bit
  tricky to do in css only (using flex-direction: reverse) could have solved this but I went
  for the simple approach for the demo.
  -->
  <div *ngIf="index % 2 == 0" class="row row-restaurant">
    <div class="col-8">
      <h2>{{data.cardSubtitle}}</h2>
      <h4 *ngIf="data.cardContentHeading">{{data.cardContentHeading}}</h4>
      <p>{{data.cardContent}}</p>
      <p><a href="#">More &raquo;</a></p>
    </div>
    <div class="col-2 title-container">
      <h3 class="title">{{data.title}}</h3>
    </div>
  </div>
  <!-- odd -->
  <div *ngIf="index % 2 !== 0" class="row row-restaurant">
    <div class="col title-container">
      <h3 class="title">{{data.title}}</h3>
    </div>

    <div class="col-8">
      <h2>{{data.cardSubtitle}}</h2>
      <h4 *ngIf="data.cardContentHeading">{{data.cardContentHeading}}</h4>
      <p>{{data.cardContent}}</p>
      <p><a href="#">More &raquo;</a></p>
    </div>
  </div>
</div>
