<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-2 flex-column">
        <h5>Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-6 flex-column">
        <h5>Our Address</h5>
        <address>
          214, King Street West<br>
          Downtown, Toronto<br>
          ONTARIO<br>
          Tel.: +416 1234 5678<br>
          Fax: +416 8765 4321<br>
          Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
        </address>
      </div>
      <div class="col-4 flex">
          <app-social-icon-list></app-social-icon-list>
      </div>
    </div>
    <div class="row copyright-text">
      <p>© Copyright 2015 Ristorante Il Fornello</p>
    </div>
  </div>
</footer>
