<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ristorante Il Fornello</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
  <body>
    <app-navigation></app-navigation>
    <app-hero-component></app-hero-component>
    <div class="container">
      <app-page-component></app-page-component>
      <app-menu-component></app-menu-component>
    </div>
    <app-footer-component></app-footer-component>
  </body>
</html>
