/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
// general styles for the entire page
p {
  font-size: 0.8rem;
}
ul {
  margin:0;
  padding: 0;
  li {
    list-style: none;
  }
}
.flex {
  display: flex;
}
